<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="css/weui.css">
<link rel="stylesheet" href="css/weuix.css">
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script>
	$(function() {
		// 默认页数1
		var pageSize = 1;
		var html = '';
		$.ajax({
			type : "post",
			url : "/powerManager",
			data : "kewWords=" + "&group=1"+"&role="+"&pageNum=",
			success : function(data) {
				if (data.message == 'success') {
					pageSize = data.data.pageCount
					for(var i=0; i<data.data.infos.length; i++){
						html += ' <a class="weui-cell weui-cell_access" href=/getOtherUserInfo?id='+ data.data.infos[i].id +'>'
							+ '<div class="weui-cell__hd">'
							+ '<p>'
							+ data.data.infos[i].name
							+ '</p>'
							+ '</div>'
							+ '<div class="weui-cell__bd">'
							+ '<p>&nbsp;&nbsp;'
							+ data.data.infos[i].loginPhone
							+ '</p>'
							+ '</div>'
							+ '<div class="weui-cell__ft">'
							+ getDate(data.data.infos[i].version)
							+ '</div>'
							+ '</a>'
					}
					$("#list").html(html);
				}
			}
		});
	});
function getDate(version){
	var date = new Date(version);
	return date.getFullYear() + "-" +date.getMonth() + 1 + "-" + date.getDate();
}
</script>
</head>

<body ontouchstart>
	<div class="page-hd">
		<h1 class="page-hd-title">权限管理</h1>
	</div>
	
	<!-- <div class="weui-cells weui-cells_form">
	    <div class="weui-cell">
	        <div class="weui-cell__hd"><label for="job" class="weui-label">组别</label></div>
	        <div class="weui-cell__bd">
	            <input class="weui-input" id="job" type="text" value="" readonly="">
	        </div>
	    </div>
	    <div class="weui-cell">
	        <div class="weui-cell__hd"><label for="mobile" class="weui-label">义工权限</label></div>
	        <div class="weui-cell__bd">
	            <input class="weui-input" id="mobile" type="text" value="" readonly="">
	        </div>
	    </div>
	</div> -->
	<!--搜索-->
	<div class="weui-search-bar">
		<input type="search" class="search-input" id="search"
			placeholder="关键字">
		<button class="weui-btn weui-btn_mini weui-btn_primary">
			<i class="icon icon-4"></i>
		</button>
	</div>
	<!--列表-->
	<div class="weui-cells" id="list">
	</div>
	<div class="pager2">
   	 	<a class="pager2-pre">&lt;</a>
        <a class="active">1</a>
        <a>2</a>
        <a>3</a>
        <a>4</a>
        <a>5</a>
        <a class="pager2-next">&gt;</a>
    </div>
<!-- <script>
 $("#job").select({
     title: "选择组别",
     items: ['1组','2组','3组','4组'],
     onChange: function(d) {
         console.log(this, d);
     },
     onClose: function() {
         console.log("close");
     },
     onOpen: function() {
         console.log("open");
     },
 });
 $("#mobile").select({
     title: "义工权限",
     items: [
         {
             title: "义工",
             value: "001",
         },
         {
             title: "组长",
             value: "002",
         },
         {
             title: "教授",
             value: "003",
         }
     ]
 });
</script> -->
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="job" class="weui-label">美女</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="job" type="text" value="" readonly="">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="mobile" class="weui-label">手机</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="mobile" type="text" value="" readonly="">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="in" class="weui-label">喜欢的国家</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="in" type="text" value="美国,中国" readonly="">
        </div>
    </div>
</div>

<script>
   /* 支持
    $("input").select("update", { items: ["法官", "猎人"] })
    $("input").select("open")
    $("input").select("close")*/
    $("#job").select({
        title: "喜欢的美女",
        items: ['柳岩','赵丽颖','杨颖','苍井空'],
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });
    $("#mobile").select({
        title: "选择手机",
        items: [
            {
                title: "iPhone 8",
                value: "001",
            },
            {
                title: "iPhone 9",
                value: "002",
            },
            {
                title: "iPhone x",
                value: "003",
            },
            {
                title: "iPhone xs",
                value: "004",
            }

        ]
    });
    $("#in").select({
        title: "喜欢的国家",
        multi: true,
        min: 1,  //最少选1个
        max: 3,  //最多选3个
        items: [
            {
                title: "美国",
                value: 1,
                description: "额外的数据1"
            },
            {
                title: "中国",
                value: 2,
                description: "额外的数据2"
            },
            {
                title: "日本",
                value: 3,
                description: "额外的数据3"
            },
            {
                title: "韩国",
                value: 4,
                description: "额外的数据4"
            },
            {
                title: "泰国",
                value: 5,
                description: "额外的数据5"
            },
            {
                title: "法国",
                value: 6,
                description: "额外的数据6"
            },
        ],
        beforeClose: function(values, titles) {
            if(values.indexOf("5") !== -1) {
                $.toast("不能选泰国", "cancel");
                return false;
            }
            return true;
        },
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function (d) {
            console.log('close')
        }
    });
</script>
	<br>
	<br>
	<div th:include="tabbar::pagination"></div>
</body>
</html>