<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css" />
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/swipe.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/zepto.weui.js"></script>
	<script src="js/iscroll-lite.js"></script>
	<script>
        $(function(){

            $('#t5').tab({defaultIndex:2,activeClass:"bg-red"});

        })

    </script>
</head>
<body ontouchstart="" class="page-bg">
<div class="weui-tab" style="height:35px;" id="t5">
	<div class="weui-tab-nav">
		<a href="javascript:" class="weui-navbar__item weui-nav-green type1 bg-red"> 义工心得 </a>
		<a href="javascript:" class="weui-navbar__item weui-nav-green type2"> 国学经典 </a>
		<a href="javascript:" class="weui-navbar__item weui-nav-green type3"> 曲艺杂谈 </a>
		<a href="javascript:" class="weui-navbar__item weui-nav-green type4"> 诗词歌赋 </a>
		<a href="/editor" class="weui-navbar__item weui-nav-green"> 我要发帖 </a>
	</div>
</div>



<div class="weui-news">
	<ul class="weui-news-list" th:each="communityArticle,communityArticleStart : ${communityArticles}" >
		<a href="/">
		<li class="weui-news-item">
			<div class="weui-news-inners">
				<!--标题-->
				<div class="weui-news-title" th:text="${communityArticle.title}"></div>
				<!--副标题-->
				<p class="weui-news-p" th:text="${communityArticle.subheading}"></p>
				<div class="weui-news-info">
					<!--时间-->
					<div class="weui-news-infoitem" th:text="${communityArticle.publicationTime}"></div>

					<input type="hidden" value="th:text='${communityArticle.id}'">
				</div>
			</div>
		</li>
		</a>
	</ul>
</div>



<div th:include="tabbar::pagination"></div>
</body>
</html>