<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
	<title>聚寿山义工之家</title>
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css" />
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/myinfo.css" />
	<link rel="stylesheet" href="css/common.css" />
	<style>
		.links{
				width: 100%;
    			height: 100%;
		}
		.weui-payselect-a{
				width: 100%;
    			height: 100%;
    			border: 1px solid #ffffff;
		}

		.weui-payselect-li{
				padding-left: 6px;
		}
	</style>
	<script src="js/zepto.min.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/swipe.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/zepto.weui.js"></script>
	<script src="js/iscroll-lite.js"></script>
	<script src="js/community.js"></script>
</head>
<body ontouchstart="" class="page-bg">
<br>
<h1 class="page-hd-title" style="text-align: center;font-size: 25px;">
	社区
</h1>
<br>
<div class="hr1"></div>
<ul class="weui-payselect-ul">
	<li class="weui-payselect-li">
		<a   href="/community.htm?type=1" class="weui-payselect-a "><img class="links" src="/images/ygxd.jpg"/><!--义工心得--></a>
	</li>
	<li class="weui-payselect-li">
		<a   href="/community.htm?type=2" class="weui-payselect-a "><img class="links" src="/images/gxjd.jpg"/><!--国学经典--></a>
	</li>
	<li class="weui-payselect-li">
		<a   href="/community.htm?type=3" class="weui-payselect-a "><img class="links" src="/images/zpfx.jpg"/><!--曲艺杂谈--></a>
	</li>
	<li class="weui-payselect-li">
		<a   href="/community.htm?type=4" class="weui-payselect-a "><img class="links" src="/images/hzpt.jpg"/><!--诗词歌赋--></a>
	</li>
</ul>
<div th:include="tabbar::pagination"></div>
</body>
</html>