<!DOCTYPE html>
<html class="pixel-ratio-2 retina android android-8 android-8-0" lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0">
    <title>聚寿山义工之家</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/weuix.css">
    <link rel="stylesheet" href="css/example.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/lang/summernote-zh-CN.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/zepto.weui.js"></script>
    <script>
    /* 支持
    $("input").select("update", { items: ["法官", "猎人"] })
    $("input").select("open")
    $("input").select("close")*/
    $(function(){
        $("#job").select({
            items: [
                {
                    title: "义工心得",
                    value: 1,
                },
                {
                    title: "国学经典",
                    value: 2,
                },
                {
                    title: "作品分享",
                    value: 3,
                },
                {
                    title: "互助平台",
                    value: 4,
                }
            ],
            onChange: function(d) {
                console.log(this, d);
            },
            onClose: function() {
                console.log("close");
            },
            onOpen: function() {
                console.log("open");
            }
        });
    })

    </script>
</head>
<body ontouchstart>
<!--标题-->
<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label" style="font-size:1.5em">标题</label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" placeholder="请输入" type="text" id = "zheng">
    </div>
</div>

<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label" style="font-size:1.1em">副标题</label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" placeholder="请输入" type="text" id = "fu">
    </div>
</div>


<div class="weui-cells weui-cells_form" style="margin-top: 0px;">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="job" class="weui-label">发布类型</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="job" type="text" value="" readonly="">
        </div>
    </div>
</div>

<div id="summernote">   </div>
<a href="javascript:;" class="weui-btn weui-btn_primary baocun">保存</a>
<a href="javascript:;" class="weui-btn weui-btn_primary fanhui">返回</a>
<div class="weui-cells" id="list">
<div th:include="tabbar::pagination"></div>
<script src="js/editor.js"></script>

</body>
<style>
.toolbar .title{
    line-height: 0.2rem;
}
</style>
</html>