<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>聚寿山义工之家</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/weui.css">
    <link rel="stylesheet" href="../css/weuix.css">

    <script src="js/zepto.min.js"></script>
    <script src="js/forum.js"></script>
    <script src="js/zepto.weui.js"></script>
    <script>
        $(function () {
            $(".weui-c-like .icon").click(function () {
                if ($(this).hasClass('on')) {
                    $(this).removeClass('on')
                } else {
                    $(this).addClass('on')
                }
            })
        });
    </script>
</head>

<body ontouchstart="">
<div class="weui-content">
    <div class="weui-c-inner">
        <div class="weui-c-content">
            <!--标题-->
            <h2 class="weui-c-title" th:text="${communityArticle.title}">Flutter是谷歌的移动UI框架，可以快速在iOS和Android上构建高质量的原生用户界面</h2>
            <div class="weui-c-meta">
                <!--作者-->
                <input type="hidden" id="hidden" th:value="${communityArticle.id}">
                <div th:if="${not #lists.isEmpty(session.WechatUserInfoSession)}">
                <input type="hidden" id="userId" th:value="${session.WechatUserInfoSession.id}">
                <input type="hidden" id="userName" th:value="${session.WechatUserInfoSession.nickName}">
                </div>
                <span class="weui-c-nickname"><a href="javascript:;" th:text="${communityArticle.author}">Yoby开发者</a></span>
                <!--时间-->
                <em class="weui-c-nickname"  th:text="${#dates.format(communityArticle.publicationTime,'yyyy-MM-dd')}">2018-10-10 10:10</em>
                <span th:if="${session.login_phone}">
                <span  th:if=" ${ session.login_phone.roleId == 3 || session.login_phone.roleId == 4}">
                <span th:if="${communityArticle.sort} eq 0">
                    <span class="icon icons icon-8" th:onclick="'javascript:fungetone(\''+${communityArticle.id}+'\')'"></span>
                </span>
                <span th:if="${communityArticle.sort} eq 1">
                    <span class="icon icons icon-8" th:onclick="'javascript:fungetone(\''+${communityArticle.id}+'\')'"></span>
                </span>
                <span th:if="${communityArticle.sort} eq 2">
                    <span class="icon icons icon-6 top"  th:onclick="'javascript:fungetone(\''+${communityArticle.id}+'\')'"></span>
                </span>
                    <span class="icon icon-95"  th:onclick="'javascript:fungetDelete(\''+${communityArticle.id}+'\')'"></span>
                </span>
            </span>
            </div>

            <div class="weui-c-article" th:utext="${communityArticle.content}">
                <p> Flutter是谷歌的移动UI框架 [4] ，可以快速在iOS和Android上构建高质量的原生用户界面。
                    Flutter可以与现有的代码一起工作。在全世界，Flutter正在被越来越多的开发者和组织使用，并且Flutter是完全免费、开源的。它也是构建未来的Google Fuchsia [1]
                    应用的主要方式。</p>
                <p><img src="images/11.jpg"></p>
                <p>
                    Flutter组件采用现代响应式框架构建，这是从React中获得的灵感，中心思想是用组件(widget)构建你的UI。
                    组件描述了在给定其当前配置和状态时他们显示的样子。当组件状态改变，组件会重构它的描述(description)，Flutter会对比之前的描述，
                    以确定底层渲染树从当前状态转换到下一个状态所需要的最小更改。
                </p>
                <p><img src="images/22.jpg"></p>
                <p>Flutter是谷歌的移动UI框架，可以快速在iOS和Android上构建高质量的原生用户界面。
                    Flutter可以与现有的代码一起工作。在全世界，Flutter正在被越来越多的开发者和组织使用，并且Flutter是完全免费、开源的。</p>

            </div>
        </div>
    </div>
</div>

<div class="page-bd-15">
    <div class="weui_cells_title">留言</div>
    <ul class="weui-comment">
        <li class="weui-comment-item" th:each="map:${articleMessageBoardMap}">
            <div th:each="aclist : ${map.value}">
            <!--主留言-->
            <div id="fand" th:if="${map.key} eq ${aclist.pid}">
            <div class="weui-comment-li">
                <span th:if="${session.login_phone}">
                <span  th:if=" ${session.login_phone.roleId == 3 || session.login_phone.roleId == 4}">
                    <span th:if="${aclist.sort} eq 0">
                    <span class="icon iconc icon-8" th:onclick="'javascript:forumCheck(\''+${aclist.id}+'\')'"></span>
                </span>
                <span th:if="${aclist.sort} eq 1">
                    <span class="icon iconc icon-6 top" th:onclick="'javascript:forumCheck(\''+${aclist.id}+'\')'"></span>
                </span>
                </span>
                </span>
            </div>
            <div class="userinfo">
                <!--pid-->
                <input type="hidden" class="pid" th:value="${aclist.pid}">
                <!--昵称-->
                <strong class="nickname" th:text="${aclist.userName}">老师</strong>
                <!--头像-->
                <img class="avatar" th:src="@{${aclist.image}}">
            </div>
            <div class="weui-comment-msg"><span class="status"></span>

                <!--内容-->
                <span  th:text="${aclist.message}"> 为什么上课迟到?</span></div>
            <p class="time" th:text="${#dates.format(aclist.version, 'yyyy-MM-dd HH:mm')}">昨天 </p>
            </div>

            <!--副留言-->
            <div th:if="${map.key} ne ${aclist.pid}">
            <div class="weui-comment-reply">
                <div class="nickname" th:text="${aclist.userName}">学生A回复</div>
                <div class="weui-comment-msg" th:text="${aclist.message}"> 睡过头了，老师.</div>
                <p class="time" th:text="${#dates.format(aclist.version, 'yyyy-MM-dd HH:mm')}">今天早上</p></div>
            </div>
            </div>
        </li>
    </ul>
    <div class="page-bd-15">
    <a href="javascript:;" class="weui-btn weui-btn_primary" id="sd3">请留言</a>
    </div>
</div>

<br>
<br>
<script src="js/common.js"></script>
<!-- 与下拉框特效存在冲突，暂时注释掉 -->
<!-- <script src="js/jquery.js"></script> -->
<div class="weui-tab tab-bottom " style="height:44px; position: fixed;">
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item mine">
            <i class="icon icon-30 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">我的</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item homepage">
            <i class="icon icon-27 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">主页</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item community">
            <i class="icon icon-5 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">社区</p>
        </a>
    </div>
</div>
</body>
</html>