<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
	<title>聚寿山义工之家</title>
<!-- 引入样式 -->
 <link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/swipe.js"></script>
<script src="js/community.js"></script>
<script>
$(function(){
    $('#slide1').swipeSlide({
        autoSwipe:true,//自动切换默认是
        speed:3000,//速度默认4000
        continuousScroll:true,//默认否
        transitionType:'cubic-bezier(0.22, 0.69, 0.72, 0.88)',//过渡动画linear/ease/ease-in/ease-out/ease-in-out/cubic-bezier
        lazyLoad:true,//懒加载默认否
        firstCallback : function(i,sum,me){
            me.find('.dot').children().first().addClass('cur');
        },
        callback : function(i,sum,me){
            me.find('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
        }
    });
});
</script>
</head>
<body ontouchstart="" class="page-bg">
<div class="slide" id="slide1">
	<ul style="transition: all 0s cubic-bezier(0.22, 0.69, 0.72, 0.88) 0s; transform: translate3d(0px, 0px, 0px);">
		<li style="transition: all 0s cubic-bezier(0.22, 0.69, 0.72, 0.88) 0s; transform: translate3d(-411px, 0px, 0px);" th:each="wheelPlanting,wheelPlantingsStart : ${wheelPlantings}" >
			<a th:href="${wheelPlanting.linkAddress}" >
				<img th:if="${wheelPlanting.pic}" th:src="@{${wheelPlanting.pic}}" alt="">
			</a>
			<div class="slide-desc"  th:text="${wheelPlanting.description}">1</div>
		</li>
	</ul>
	<div class="dot">
		<span class="cur"></span>
		<span class=""></span>
		<span class=""></span>
		<span class=""></span>
	</div>
</div>

<div class="weui-news">
	<ul class="weui-news-list">
		<li class="weui-news-item link" th:each="communityArticle,communityArticleStart : ${communityArticles}">
			<div class="weui-news-inner">
				<div class="weui-news-inners">
					<!--标题-->
					<div class="weui-news-title" ><span th:text="${communityArticle.title}"></span><span style="color: red;" class="icon icon-61"></span></div>
					<!--副标题-->
					<p class="weui-news-p" th:text="${communityArticle.subheading}"></p>
					<div class="weui-news-info">
						<!--时间-->
						<div class="weui-news-infoitem"
							 th:text="${#dates.format(communityArticle.publicationTime, 'yyyy-MM-dd HH:mm')}"></div>
						<input class="hidden" type="hidden" th:value="${communityArticle.id}">
					</div>
				</div>
				<div class="weui-news-media" th:if="${communityArticle.image}">
					<img th:src="@{${communityArticle.image}}"/>
				</div>
			</div>
		</li>
	</ul>
</div>

<br>
<br>
<script src="js/common.js"></script>
<!-- 与下拉框特效存在冲突，暂时注释掉 -->
<!-- <script src="js/jquery.js"></script> -->
<div class="weui-tab tab-bottom " style="height:44px; position: fixed;">
	<div class="weui-tabbar">
		<a href="javascript:;" class="weui-tabbar__item mine">
			<i class="icon icon-30 f27 weui-tabbar__icon"></i>
			<p class="weui-tabbar__label">我的</p>
		</a>
		<a href="javascript:;" class="weui-tabbar__item homepage">
			<i class="icon icon-27 f27 weui-tabbar__icon"></i>
			<p class="weui-tabbar__label">主页</p>
		</a>
		<a href="javascript:;" class="weui-tabbar__item community">
			<i class="icon icon-5 f27 weui-tabbar__icon"></i>
			<p class="weui-tabbar__label">社区</p>
		</a>
	</div>
</div>
</body>
</html>