<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script type="text/javascript">
$(function() {
	$('.toAddHoner').click(function(){
		location.href="/toUpdateHoner";
	});
});
function showInfo(a){
	location.href="/toUpdateHoner?id="+a;
}
</script>
</head>
<body>
	<div class="container" id="container">
		<div class="weui-flex header">
			<h2>首页-勋章墙管理</h2>
		</div>
		<div class="main_info">
			<div class="info_message">
					<ul th:each="info,infoStat : ${myHoner}" class="honer flex-list">
						<li th:each="myhoner,honer : ${info}">
						<img th:onclick="'javascript:showInfo(\''+${myhoner.id}+'\')'" th:src="${myhoner.light}" width="100px;" />
						<p th:text="${myhoner.title}"></p>
						</li>
					</ul>
			</div>
		</div>
		<button class="addButton toAddHoner">添加勋章墙</button>
		<div th:include="tabbar::pagination"></div>
	</div>
</body>
</html>
<style>
@media {
	.honer{
		height: auto;
		width: auto;
		display: flex;
	}
	.honer li{
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		flex-wrap:wrap;
		width: 33%;
	}
	.addButton{
	    width: 100%;
	    border-radius: 10px;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    color: #FFFFFF;
	    background-color: #1AAD19;
	    height: 22px;
	}
}
</style>