<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title>聚寿山义工之家</title>
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/mycareer.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/toast.js"></script>
<script type="text/javascript">
	$(function() {
		init();
		$('.weui-textarea').bind('input propertychange',function() {
			if ($(".weui-textarea").val().length >= 200) {
				$(".weui-textarea").val(
						$(".weui-textarea").val().substring(0,
								200))
			}
			if ($(".weui-textarea").val().length != "") {
				$('.fountCount').html(
						$(".weui-textarea").val().length);
			}
		});

		$('.add_btn_primary').click(function() {
			var content = $(".weui-textarea").val();
			if (content.trim().length == 0) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : "/messageBoard/content",
				data : "content=" + content,
				success : function(data) {
					if (data.message == 'success') {
						Toast("操作成功",2000);
						$('.weui-textarea').val('');
						if (null == data.data){
							return;
						}
						showMessage(data);
					}
				}
			});
		});
		// 添加底部样式
		$(".mine").addClass("weui-bar__item_on");
	})
	function init() {
		$.ajax({
			type : "get",
			url : "/getAllMessageBoard",
			success : function(data) {
				alert(data.message);
				if (data.message == 'success') {
					alert(data.data);
					showMessage(data);
				}
			}
		});
	}
	function showMessage(data) {
		$('.show_message_board').removeClass('none');
		var content = '';
		for (var i = 0; i < data.data.length; i++) {

			content += 	'<tr><td title="姓名">'+data.data[i].userName+'</td><td title="留言内容">'+ data.data[i].content + '</td></tr>';
$.toast(content, "text");
		}
		$('.show_message_board').html(content);
		$(".container").css("height", $('.page__hd').height()+ $('.button-sp-area').height() + $('.show_message_board').height()+200)
	}
</script>
</head>
<body>
	<div class="container" id="container">
			<div class="page__hd">
				<h1 class="page__title">留言板</h1>
			</div>
			<div class="button-sp-area">
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell" style="height: 200px;">
						<div class="weui-cell__bd" style="height: 100%">
							<textarea class="weui-textarea" style="height: 90%"
								placeholder="请输入留言" rows="3"></textarea>
							<div class="weui-textarea-counter">
								<span class="fountCount">0</span>/200
							</div>
						</div>
					</div>
				</div>
				<button class="addButton add_btn_primary">发表</button>
			</div>
		<br>
		<br>
			<div ><table>
				<thead>
				<tr><th>姓名</th><th>留言内容</th></tr>
				</thead>
				<tbody class="none show_message_board button-sp-area">
				</tbody>
			</table></div>
		<br>
	<br>
		<div th:include="tabbar::pagination"></div>
	</div>
</body>
<style>
.addButton{
	    width: 100%;
	    border-radius: 10px;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    color: #FFFFFF;
	    background-color: #1AAD19;
	    height: 22px;
	    margin-top: 20px;
	}
	.button-sp-area{
		width: 90%;
    	margin: 0 auto;
	}
	.show_message_board{
		width: 90%;
	    margin: 0 auto;
	    margin-top: 20px;
	}
</style>
</html>

