<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/mycareer.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
$(function(){
	// 添加底部样式
	$(".mine").addClass("weui-bar__item_on");
})
</script>
</head>
<body>
	<div class="container" id="container">
		<div class="main_info">
			<div class="weui-flex header">
				<h2>我的-义工生涯</h2>
			</div>
			<div class="person_hoppy">
				<h2 class="career_title">义工生涯</h2>
				<p class="career_count">
					义工总期数：<span th:text="${count}"></span>
				</p>
				<ul class="person_career">
					<li th:each="info,infoStat : ${havingClass}"><span th:text="${info.tagName}"></span>:<span th:text="${info.tagCount}"></span></li>
				</ul>
				<p class="person_first_career">
					首次做义工时间：<span>2018年2月7号</span>
				</p>
			</div>
			<div class="person_hoppy">
				<h2 class="career_title">义工岗位</h2>
				<ul class="person_career">
					<li  th:each="info,infoStat : ${post}">
					<span th:text="${info.tagName}"></span>:<input class="weui-switch" onclick="return false" type="checkbox" checked="checked">
					</li>
				</ul>
			</div>
		</div>
		<br>
	<br>
		<div th:include="tabbar::pagination"></div>
	</div>
</body>
</html>