<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/mycareer.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
</head>
<body>
	<div class="container" id="container">
		<div class="main_info">
			<div class="weui-flex header">
				<h2>我的●义工生涯</h2>
			</div>
			<div class="person_hoppy">
				<h2 class="career_title">义工生涯</h2>
				<p>
					义工总期数：<span>20</span>
				</p>
				<ul class="person_career">
					<li>慈爱天下:<span>10</span></li>
					<li>中华孝道:<span>10</span></li>
					<li>慈爱亲子:<span>10</span></li>
					<li>了凡厚道:<span>10</span></li>
					<li>改过至善:<span>10</span></li>
				</ul>
				<p class="person_first_career">
					首次做义工时间：<span>2018年2月7号</span>
				</p>
			</div>
			<div class="person_hoppy">
				<h2 class="career_title">义工岗位</h2>
				<ul class="person_career">
					<li>协调:<input class="weui-switch" onclick="return false"
						type="checkbox" checked="checked"></li>
					<li>主持:<input class="weui-switch" onclick="return false"
						type="checkbox"></li>
					<li>课堂:<input class="weui-switch" onclick="return false"
						type="checkbox" checked="checked"></li>
					<li>组长:<input class="weui-switch" onclick="return false"
						type="checkbox" checked="checked"></li>
					<li>洗完:<input class="weui-switch" onclick="return false"
						type="checkbox" checked="checked"></li>
					<li>后厨:<input class="weui-switch" onclick="return false"
						type="checkbox" checked="checked"></li>
					<li>大厨:<input class="weui-switch" onclick="return false"
						type="checkbox" checked="checked"></li>
				</ul>
			</div>
		</div>
		<div class="weui-navbar" style="position: fixed;">
			<div class="weui-navbar__item weui-bar__item_on">我的</div>
			<div class="weui-navbar__item">主页</div>
			<div class="weui-navbar__item ">社区</div>
		</div>
	</div>
</body>
</html>