<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
</head>
<body>
	<div class="container" id="container">
		<div class="weui-flex header">
			<h2>我的●个人信息</h2>
		</div>
		<div class="main_info">
			<div class="info_message">
				<div class="main_aside">
					<img src="images/common/1555840770.jpg" width="150px;" alt="头像" />
				</div>
				<div class="main_content">
					<h2 class="name"><span th:text="${userInfo.name}"></span></h2>
					<p class="person_info">性别：<span th:if="${userInfo.sex} eq 1">女</span><span th:if="${userInfo.sex} eq 0">男</span></p>
					<p class="person_info">年龄：<span th:text="${userInfo.age}"></span></p>
					<p class="person_info">民族：<span th:text="${userInfo.nation}"></span></p>
					<p class="person_info">籍贯：<span th:text="${userInfo.birthplace}"></span></p>
					<p class="person_info">电话：<span th:text="${userInfo.loginPhone}"></span></p>
				</div>
			</div>
			<div class="person_info_work">
				<p class="person_info">
					工作岗位：<span th:text="${userInfo.worker}"></span>
				</p>
				<p class="person_info">
					身份证号：<span th:text="${userInfo.idCard}"></span>
				</p>
			</div>
			<div class="person_hoppy">
				<h2 class="hoppy_title">兴趣爱好</h2>
				<p class="person_info" th:text="${userInfo.hobby}"></p>
			</div>
			<div class="person_hoppy">
				<h2 class="hoppy_title">自我介绍</h2>
				<p class="person_info"  th:text="${userInfo.descption}" ></p>
			</div>
		</div>

		<div th:include="tabbar::pagination"></div>
	</div>
</body>
</html>