<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/example.css" />
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
</head>
<body>
	<div class="container" id="container">
		<div class="weui-flex header">
			<h2>我的●个人信息</h2>
		</div>
		<div class="main_info">
			<div class="info_message">
				<div class="main_aside">
					<img src="images/common/1555840770.jpg" width="150px;" alt="头像" />
				</div>
				<div class="main_content">
					<h2 class="name">李凯敏</h2>
					<p class="person_info">性别：男</p>
					<p class="person_info">年龄：29</p>
					<p class="person_info">民族：汉</p>
					<p class="person_info">籍贯：山西晋城</p>
					<p class="person_info">电话：12345678901</p>
				</div>
			</div>
			<div class="person_info_work">
				<p class="person_info">
					工作岗位：<span>暂无</span>
				</p>
				<p class="person_info">
					身份证号：<span>222345678542134567</span>
				</p>
			</div>
			<div class="person_hoppy">
				<h2 class="hoppy_title">兴趣爱好</h2>
				<p class="person_info">洗澡、洗澡、还是洗澡</p>
			</div>
			<div class="person_hoppy">
				<h2 class="hoppy_title">自我介绍</h2>
				<p class="person_info">本人性格开朗、稳重、有活力，待人热情、真诚；工作认真负责，积极主动，能吃苦耐劳，用于承受压力，勇于创新；有很强的组织能力和团队协作</p>
			</div>
		</div>

		<div class="weui-navbar" style="position: fixed;">
			<div class="weui-navbar__item weui-bar__item_on">我的</div>
			<div class="weui-navbar__item">主页</div>
			<div class="weui-navbar__item ">社区</div>
		</div>
	</div>
</body>
</html>