<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
	<title>聚寿山义工之家</title>
<!-- 引入样式 -->
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/common.js"></script>
<script>
$(function(){
	$('.toUpdateUserInfo').click(function(){
		$('.hidden').css('display','block');
		$('.show').css('display','none');
	})
	$('.cancleUpdate').click(function(){
		$('.hidden').css('display','none');
		$('.show').css('display','block');
	})
	$('.updateUserInfo').click(function(){
		var sex = 0;
		if($('#sex').val() == "女"){
			sex = 1
		}
		$.ajax({
			type : "get",
			url : "/updateBaseUserInfo",
			async: false,
			data : "name=" + $("#name").val() +"&sex="+ sex +"&nation="+ $('#nation').val() +"&birthplace=" + $('#birthplace').val()+"&loginPhone="+$('#loginPhone').val()+"&worker="+$('#worker').val() +"&hobby="+$('#hobby').val()+"&descption="+$('#descption').val(),
			success : function(data) {
				if(data.data){
					$("#uploadUserImg").submit();
				}
				if(!data.data){
					Toast("操作失败",2000);
				}
			}
		});
	});
	$('#uploaderImage').change(function(e){
		var imgBox = e.target;
        uploadImg($('#uploaderImage'), imgBox, '.img-gray');
	});
	// 添加底部样式
	$(".mine").addClass("weui-bar__item_on");
})
function uploadImg(element, tag, cla) {
    var file = tag.files[0];
    var imgSrc;
    if (!/image\/\w+/.test(file.type)) {
        alert("看清楚，这个需要图片！");
        return false;
    }
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function() {
        console.log(this.result);
        imgSrc = this.result;
        $(cla).attr("src", imgSrc);
    };
}
</script>
</head>
<body>
	<div class="container" id="container">
		<div class="weui-flex header">
			<h2>我的-个人信息</h2>
		</div>
		<div class="main_info">
			<div class="show">
				<div class="info_message">	
					<div class="main_aside">
						<img th:if="${userInfo.userPic != null}" th:src="${userInfo.userPic}" width="150px;" alt="头像" />
						<img th:if="${userInfo.userPic == null}" src="images/common/1555840770.jpg" width="150px;" alt="头像" />
					</div>
					<div class="main_content">
						<h2 class="name"><span th:text="${userInfo.name}"></span></h2>
						<p class="person_info">性别：<span th:if="${userInfo.sex} eq 1">女</span><span th:if="${userInfo.sex} eq 0">男</span></p>
						<p class="person_info">年龄：<span th:text="${userInfo.age}"></span></p>
						<p class="person_info">民族：<span th:text="${userInfo.nation}"></span></p>
						<p class="person_info">籍贯：<span th:text="${userInfo.birthplace}"></span></p>
						<p class="person_info">电话：<span th:text="${userInfo.loginPhone}"></span></p>
					</div>
				</div>
				<div class="person_info_work">
					<p class="person_info qwe">
						工作岗位：<span th:text="${userInfo.worker}"></span>
					</p>
					<p class="person_info qwe">
						组别：<span th:text="${userInfo.groupTeam}"></span>
					</p>
					<p class="person_info qwe">
						身份证号：<span th:text="${userInfo.idCard}"></span>
					</p>
				</div>
				<div class="person_hoppy">
					<h2 class="hoppy_title">兴趣爱好</h2>
					<p class="person_info qwe" th:text="${userInfo.hobby}"></p>
				</div>
				<div class="person_hoppy">
					<h2 class="hoppy_title">自我介绍</h2>
					<p class="person_info qwe"  th:text="${userInfo.descption}" ></p>
				</div>
			</div>
			<div class="hidden updateInfo info_message">
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">姓名：</label></div>
				    <div class="weui-cell__bd">
				      <input id="name" th:value="${userInfo.name}"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">性别：</label></div>
				    <div class="weui-cell__bd">
				      <input id="sex" th:if="${userInfo.sex} eq 1" value="女"/><input th:if="${userInfo.sex} eq 0" value="男"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">民族：</label></div>
				    <div class="weui-cell__bd">
				    	<input id="nation" th:value="${userInfo.nation}"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">籍贯：</label></div>
				    <div class="weui-cell__bd">
				    	<input id="birthplace" th:value="${userInfo.birthplace}"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">电话：</label></div>
				    <div class="weui-cell__bd">
				    	<input id="loginPhone" type="phone" th:value="${userInfo.loginPhone}"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">工作岗位：</label></div>
				    <div class="weui-cell__bd">
				    	<input id="worker" th:value="${userInfo.worker}"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">兴趣爱好：</label></div>
				    <div class="weui-cell__bd">
				    	<input id="hobby" th:value="${userInfo.hobby}"/>
				    </div>
				 </div>
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">自我介绍：</label></div>
				    <div class="weui-cell__bd">
				    <textarea id="descption" rows="0" cols="1" th:text="${userInfo.descption}"></textarea>
				    </div>
				 </div>
				 <form id="uploadUserImg" action="/uploadUserImg" enctype="multipart/form-data" method="post">
				<div class="weui-cell">
				 	<div class="weui-cell__hd"><label class="weui-label">个人图片</label></div>
				    <div class="weui-cell__bd">点我选择图片
				      <input id="uploaderImage" name="userImg" class="weui-uploader__input" type="file" accept="image/*">
				    </div>
				 </div>
				 </form>
				 <div class="weui-cell">
				    <div class="weui-cell__bd image_style">
				    	<img class="img-gray" width="45%" height="45%" alt="" src="">
				    </div>
				 </div>
			</div>
			<a href="javascript:;" class="hidden updateUserInfo weui-btn weui-btn_mini weui-btn_primary">确认修改</a>
			<a href="javascript:;" class="hidden cancleUpdate weui-btn weui-btn_mini weui-btn_primary">取消修改</a>
			<a href="javascript:;" class="show toUpdateUserInfo weui-btn weui-btn_mini weui-btn_primary">修改信息</a>
		</div>
		<br>
		<br>
		<div th:include="tabbar::pagination"></div>
	</div>
</body>
<style>
.hidden{
	display: none;
	width: 100%;
}
.show{
    width: 100%;
}
.info_message input{
    text-indent: 1em;
    border: 1px solid #e1e1e1;
}
#descption{
    margin: 0px;
    width: 171px;
    height: 34px;
    border: 1px solid #e1e1e1;
}
.qwe{
	padding-left: 12px !important;
}
.updateInfo{
	padding-left: 10px;
}
</style>
</html>