<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title>WeUI</title>
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/example.css" />
</head>
<script src="js/zepto.min.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
<script src="js/example.js"></script>
<script src="js/function.js"></script>
<script src="js/jquery.js"></script>
<body ontouchstart>
	<div class="container" id="container"></div>

	<div class="page grid js_show">
		<div class="page__hd">
			<div style="text-align: center;" class="contentDiv">
				<img style="width: 120px;"  src="images/head/testhead.jpg" />
				<!--资源自己添加-->
			</div>
			<h1 class="page__title" th:text="${session.login_phone.name}"></h1>
			<h2 class="page__desc">欢迎您回家</h2>
		</div>
		<div class="weui-grids">
			<a href="/getUserInfo" class="weui-grid">
				<div class="weui-grid__icon">
					<img src="images/we_image/icon_tabbar.png" alt="">
				</div>
				<p class="weui-grid__label">个人信息</p>
			</a> <a href="/getUserCareer" class="weui-grid">
				<div class="weui-grid__icon">
					<img src="images/we_image/icon_tabbar.png" alt="">
				</div>
				<p class="weui-grid__label">义工生涯</p>
			</a> <a href="javascript:;" class="weui-grid">
				<div class="weui-grid__icon">
					<img src="images/we_image/icon_tabbar.png" alt="">
				</div>
				<p class="weui-grid__label">义工组别</p>
			</a> <a href="javascript:;" class="weui-grid">
				<div class="weui-grid__icon">
					<img src="images/we_image/icon_tabbar.png" alt="">
				</div>
				<p class="weui-grid__label">留言板</p>
			</a> <a href="javascript:;" class="weui-grid">
				<div class="weui-grid__icon">
					<img src="images/we_image/icon_tabbar.png" alt="">
				</div>
				<p class="weui-grid__label">勋章墙</p>
			</a>

		</div>
	</div>
	<div class="weui-navbar">
		<div class="weui-navbar__item weui-bar__item_on">我的</div>
		<div class="weui-navbar__item">主页</div>
		<div class="weui-navbar__item ">社区</div>
	</div>
</body>
</html>
