<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<title></title>
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css" />
<link rel="stylesheet" href="css/example.css" />


<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
<script src="js/jquery.js"></script>
	<script src="js/function.js"></script>
	<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/jquery.i18n.properties.js"></script>
</head>
<body ontouchstart>
	<div class="container" id="container">
	<div class="page grid js_show" style="padding: 0px 	0px;width:100%;">
		<div class="page__hd">
			<div style="text-align: center;" class="contentDiv">
				<img style="width: 120px;" th:if="${session.WechatUserInfoSession}" th:src="@{${session.WechatUserInfoSession.image}}"/>
				<img style="width: 120px;" th:if="${session.WechatUserInfoSession == null}"  src="images/head/testhead.jpg" />
				<!--资源自己添加-->
			</div>
			<h1 class="page__title" th:text="${session.login_phone.name}"></h1>
			<h2 class="page__desc">欢迎您回家</h2>
		</div>
		<div class="weui-grids">


		</div>
	</div>
		<script src="js/common.js"></script>
		<!-- 与下拉框特效存在冲突，暂时注释掉 -->
		<!-- <script src="js/jquery.js"></script> -->
		<div class="weui-tab tab-bottom " style="height:44px;position: absolute;">
			<div class="weui-tabbar">
				<a href="javascript:;" class="weui-tabbar__item mine">
					<i class="icon icon-30 f27 weui-tabbar__icon"></i>
					<p class="weui-tabbar__label">我的</p>
				</a>
				<a href="javascript:;" class="weui-tabbar__item homepage">
					<i class="icon icon-27 f27 weui-tabbar__icon"></i>
					<p class="weui-tabbar__label">主页</p>
				</a>
				<a href="javascript:;" class="weui-tabbar__item community">
					<i class="icon icon-5 f27 weui-tabbar__icon"></i>
					<p class="weui-tabbar__label">社区</p>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
