<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>聚寿山义工之家</title>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="css/weui.css">
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script>
var groupTeam = [];
$(function() {
	init();
	getAllGroups();
	$("#job").select({
		title : "选择组别",
		items : groupTeam,
		onChange : function(d) {
			//console.log(this, d);
			$('.select_group').html($('#job').val()+'组');
			init();
		},
		onClose : function() {
			//console.log("close");
		},
		onOpen : function() {
			//console.log("open");
		},
	});
});
function init() {
	var group = $('#job').val();
	if ('所有义工' === group){
		location.reload();
	}
	var html = '';
	$.ajax({
		type : "get",
		url : "/power/info",
		data : "group=" + group,
		success : function(data) {
			if (data.message == 'success') {
				for (var i = 0; i < data.data.length; i++) {
					html += '<label class="weui-cell weui-check__label" for="'+data.data[i].id+'"><div class="weui-cell__hd"><input type="radio" class="weui-check" name="radio" value="'+ data.data[i].name +'" id="'+data.data[i].id+'"><i class="weui-icon-checked"></i></div>';
					html += '<div class="weui-cell__bd"><p class="desc">'+ data.data[i].name +'</p></div>';
					html += '<div class="weui-cell__bd"><p class="desc">'+ data.data[i].age +'</p></div>';
					html += '<div class="weui-cell__bd"><p class="desc">'+ data.data[i].loginPhone +'</p></div>';
					html += '<div class="weui-cell__bd"><p class="desc">'+ data.data[i].count +'</p></div></label>';
				}
				$('.listinfo').html(html);
			}
		}
	});
}
function getAllGroups() {
	$.ajax({
		type : "get",
		async : false,
		url : "/getAllGroups",
		success : function(data) {
			if (data.message == 'success') {
				groupTeam.push('所有义工');
				for (var i = 0; i < data.data.length; i++) {
					groupTeam.push(data.data[i] + '');
				}
			}
		}
	});
}
function showDirlog(value){
	if("undefined" === typeof($("input[type='radio']:checked").val())){
		$.toast("您没有选择人员",'text');
		return;
	}
	$('.isshowgroup').css("display","none");
	var selectedname =  $("input[type='radio']:checked").val();
	if (value == 'groupleader'){
		$('.groupleader').addClass('backgroung_color');
		$('.weui-dialog__title').html('组长任命');
		var asd = '是否任命'+selectedname+'为<input class="isshowgroup" type="number">组组长';
		$('.weui-dialog__bd').html(asd);
		$('.isshowgroup').css("display","inline-block !important");
	}else if (value == 'professor'){
		$('.professor').addClass('backgroung_color');
		$('.weui-dialog__title').html('教授任命');
		var asd = '是否任命'+selectedname+'为教授';
		$('.weui-dialog__bd').html(asd);
	} else if (value == 'manager'){
		$('.manager').addClass('backgroung_color');
		$('.weui-dialog__title').html('管理员任命');
		var asd = '是否任命'+selectedname+'为管理员';
		$('.weui-dialog__bd').html(asd);
	}
	$('.dirlog').css("display","block");
}
function cancle(){
	$('.backgroung_color').removeClass('backgroung_color');
	$('.dirlog').css("display","none");
	$('.weui-dialog__title').html('');
	$('.weui-dialog__bd').html('');
}
function submit(){
	var id = $("input[type='radio']:checked").attr('id');
	var selectedname =  $("input[type='radio']:checked").val();
	var value = $('.backgroung_color').attr('val');
	var group = $('.isshowgroup').val();
	var actionUrl = '';
	if ("undefined" === typeof(group) || ""==group){
		actionUrl = "/update/permission?name="+selectedname +"&id="+id+"&value="+value;
	} else {
		actionUrl = "/update/permission?name="+selectedname +"&id="+id+"&value="+value+"&group="+group;
	}
	$.ajax({
		type : "get",
		url : actionUrl,
		success : function(data) {
			if (data.message == 'success') {
				$.toast("操作成功");
				setTimeout(function(){
					location.reload();
				},2000);
			} else {
				$.toast("操作失败");
			}
		}
	});
}
</script>
</head>

<body ontouchstart>
	<div class="weui-flex header">
		<h2>权限管理</h2>
	</div>

	<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__hd lable_width">
				<label for="job" class="weui-label border_solid" style="text-align: center;"> 
				<span class="icon icon-99 logo"></span><span class="select_group"> 所有义工</span>
				</label> <input class="weui-input" id="job" type="text" value="" readonly="">
			</div>
			<div class="weui-cell__bd">
				<ul class="icon_lists clear">
					<li onclick="showDirlog('groupleader')" class="border_solid groupleader" val="groupleader"><span class="logo icon icon-85"></span> 组长</li>
					<li onclick="showDirlog('professor')" class="border_solid professor" val="professor"><span class="logo icon icon-67"></span> 教授</li>
					<li onclick="showDirlog('manager')" class="border_solid manager" val="manager"><span class="logo icon icon-101"></span> 管理员</li>
				</ul>
			</div>
		</div>
	</div>
	<!--列表-->
	<div class="weui-cells weui-cells_checkbox">
		<label class="weui-cell weui-check__label">
			<div class="weui-cell__hd" style="padding-right: 0;">
				<i class="weui-icon-checked" style="opacity: 0; padding-right: 0;"></i>
			</div>
			<div class="weui-cell__bd">
				<p class="desc">姓名</p>
			</div>
			<div class="weui-cell__bd">
				<p class="desc">年龄</p>
			</div>
			<div class="weui-cell__bd">
				<p class="desc">手机号</p>
			</div>
			<div class="weui-cell__bd">
				<p class="desc">义工期数</p>
			</div>
		</label> 
		<div class="listinfo">
			<label class="weui-cell weui-check__label" for="s11">
				<!-- <div class="weui-cell__hd">
					<input type="checkbox" class="weui-check" name="checkbox1" id="s11"checked="checked"><i class="weui-icon-checked"></i>
				</div>
				<div class="weui-cell__bd"><p class="desc">张三</p></div>
				<div class="weui-cell__bd"><p class="desc">23</p></div>
				<div class="weui-cell__bd"><p class="desc">13509876543</p></div>
				<div class="weui-cell__bd"><p class="desc">11</p></div> -->
			</label>
		</div>
	</div>
	<div class="dirlog" style="display:none">
		<div class="weui-mask weui-mask--visible" style="opacity: 1;"></div>
		<div class="weui-dialog weui-dialog--visible" style="opacity: 1;">
		  <div class="weui-dialog__hd">
		    <strong class="weui-dialog__title"></strong>
		  </div>
		  <div class="weui-dialog__bd"><input class="isshowgroup" type="number"></div>
		  <div class="weui-dialog__ft">
		    <a href="javascript:;" onclick="cancle()" class="weui-dialog__btn default">取消</a>
		    <a href="javascript:;" onclick="submit()" class="weui-dialog__btn primary">确定</a>
		  </div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<script src="js/common.js"></script>
	<!-- 与下拉框特效存在冲突，暂时注释掉 -->
	<!-- <script src="js/jquery.js"></script> -->
	<div class="weui-tab tab-bottom " style="height:44px;position: fixed;">
		<div class="weui-tabbar">
			<a href="javascript:;" class="weui-tabbar__item mine weui-bar__item_on">
				<i class="icon icon-30 f27 weui-tabbar__icon"></i>
				<p class="weui-tabbar__label">我的</p>
			</a>
			<a href="javascript:;" class="weui-tabbar__item homepage">
				<i class="icon icon-27 f27 weui-tabbar__icon"></i>
				<p class="weui-tabbar__label">主页</p>
			</a>
			<a href="javascript:;" class="weui-tabbar__item community">
				<i class="icon icon-5 f27 weui-tabbar__icon"></i>
				<p class="weui-tabbar__label">社区</p>
			</a>
		</div>
	</div>
</body>
</html>
<style>
@media {
	.desc {
		text-align: center;
	}
	.icon_lists {
		display: flex;
		justify-content: space-between;
	}
	.icon_lists li {
		width: 32%;
		height: 40px;
		text-align: center;
		list-style-type: none;
		line-height: 40px;
	}
	.logo {
		font-size: 24px;
		line-height: 40px;
		margin: 5px 0;
		color: #10AEFF;
		-webkit-transition: font-size 0.5s ease-out 0s;
		-moz-transition: font-size 0.5s ease-out 0s;
		transition: font-size 0.5s ease-out 0s;
		margin-right: 2px;
	}
	.weui-input {
		width: 105px;
	}
	#job {
		display: none;
	}
	.border_solid {
		border: 1px solid #F5F5F5;
	}
	.lable_width {
		width: 31%;
	}
	.backgroung_color{
	    background: #10AEFF;
	}
	.backgroung_color span{
		color: #FFF;
	}
	.isshowgroup{
		width: 27px;
	    border: 0px;
	    border-bottom: 1px solid;
	    text-align: center;
	    display:none;
	}
}
</style>