<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/mycareer.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/common.js"></script>
<script src="js/toast.js"></script>
<script type="text/javascript">
$(function() {
	$('.mine').addClass('weui-bar__item_on');
	$('.toUpdateUserInfo').click(function(){
		$('.hidden').css('display','block');
		$('.show').css('display','none');
		$('.person_honer').css('display','none');
	})
	$('.cancleUpdate').click(function(){
		$('.hidden').css('display','none');
		$('.show').css('display','block');
		$('.person_honer').css('display','block');
	})
	$('.updateUserInfo').click(function(){
		var sex = 0;
		if($('#sex').val() == "女"){
			sex = 1
		}
		$.ajax({
			type : "get",
			url : "/updateUserInfo",
			async: false,
			data : "id=" + $('#userInfoId').val() +"&sex="+ sex +"&nation="+ $('#nation').val() +"&birthplace=" + $('#birthplace').val()+"&loginPhone="+$('#loginPhone').val()+"&worker="+$('#worker').val(),
			success : function(data) {
				if(data.data){
					location.href="/getOtherUserInfo?id="+$('#userInfoId').val()
				}
				if(!data.data){
					Toast("操作失败",2000);
				}
			}
		});
	});
	showHoner();
	//助人为乐
	$('.lyzr').click(function(){
		if($('.lyzr').attr('src').indexOf('graystar.png') > 0){
			confirmSendHoner("lyzr");
		}
	});
	$('.czyh').click(function(){
		if($('.czyh').attr('src').indexOf('graystar.png') > 0){
			confirmSendHoner("czyh");
		}
	});
	$('.adts').click(function(){
		if($('.adts').attr('src').indexOf('graystar.png') > 0){
			confirmSendHoner("adts");
		}
	});
	$('.adfx').click(function(){
		if($('.adfx').attr('src').indexOf('graystar.png') > 0){
			confirmSendHoner("adfx");
		}
	});
	$('.shts').click(function(){
		if($('.shts').attr('src').indexOf('graystar.png') > 0){
			confirmSendHoner("shts");
		}
	});
	$('.razx').click(function(){
		if($('.razx').attr('src').indexOf('graystar.png') > 0){
			confirmSendHoner("razx");
		}
	});
});

function confirmSendHoner(val){
	$.confirm({
		  title: '发放勋章',
		  text: '确认发放勋章？',
		  onOK: function () {
			  //发放勋章
			  $.ajax({
					type : "get",
					url : "/sendHoner?userId="+$('#userInfoId').val()+"&honer="+val,
					success : function(data) {
						if (data.message == 'success') {
							$('.' + val).attr('src','images/star.png');
						}
					}
				});
		  },
		  onCancel: function () {
			  return;
		  }
		});
}
function showHoner(){
	if($('#showHoner').val() != "true"){
		return;
	}
	$.ajax({
		type : "get",
		url : "/showPersonHoner?userId="+$('#userInfoId').val(),
		success : function(data) {
			if (data.message == 'success') {
				for(var i=0; i<data.data.length; i++){
					if(data.data[i].tagName == $('.lyzr').attr('alt')){
						$('.lyzr').attr('src','images/star.png');
					}else if(data.data[i].tagName == $('.czyh').attr('alt')){
						$('.czyh').attr('src','images/star.png');
					}else if(data.data[i].tagName == $('.adts').attr('alt')){
						$('.adts').attr('src','images/star.png');
					}else if(data.data[i].tagName == $('.adfx').attr('alt')){
						$('.adfx').attr('src','images/star.png');
					}else if(data.data[i].tagName == $('.shts').attr('alt')){
						$('.shts').attr('src','images/star.png');
					}else if(data.data[i].tagName == $('.razx').attr('alt')){
						$('.razx').attr('src','images/star.png');
					}
				}
			}
		}
	});
}
</script>
<style>
.info_message p{
	text-indent: 2em;
}
.info_message input{
	text-indent: 1em;
    border: 1px solid #e1e1e1;
}
.hidden{
	display: none;
}
.showInfo h2{
	text-align: center;
}
#userInfoId{
display: none;
}
#showHoner{
display: none;
}
</style>
</head>
<body ontouchstart>
<input id="userInfoId" th:value="${userInfo.id}"/>
<input id="showHoner" th:value="${showHoner}"/>
	<div class="container" id="container">
		<div class="weui-flex header">
			<h2>●用户信息</h2>
		</div>
		<div class="main_info">
			<div class="show showInfo info_message">
				<h2 class="name"><span th:text="${userInfo.name}"></span></h2>
				<p class="person_info">性别：<span th:if="${userInfo.sex} eq 1">女</span><span th:if="${userInfo.sex} eq 0">男</span></p>
				<p class="person_info">年龄：<span th:text="${userInfo.age}"></span></p>
				<p class="person_info">民族：<span th:text="${userInfo.nation}"></span></p>
				<p class="person_info">籍贯：<span th:text="${userInfo.birthplace}"></span></p>
				<p class="person_info">电话：<span th:text="${userInfo.loginPhone}"></span></p>
				<p class="person_info">工作岗位：<span th:text="${userInfo.worker}"></span></p>
			</div>
			<div class="hidden updateInfo info_message">
				<h2 class="name"><span th:text="${userInfo.name}"></span></h2>
				<p class="person_info">性别：<input id="sex" th:if="${userInfo.sex} eq 1" value="女"/><input th:if="${userInfo.sex} eq 0" value="男"/></p>
				<p class="person_info">民族：<input id="nation" th:value="${userInfo.nation}"/></p>
				<p class="person_info">籍贯：<input id="birthplace" th:value="${userInfo.birthplace}"/></p>
				<p class="person_info">电话：<input id="loginPhone" type="phone" th:value="${userInfo.loginPhone}"/></p>
				<p class="person_info">工作岗位：<input id="worker" th:value="${userInfo.worker}"/></p>
			</div>
			<a href="javascript:;" class="hidden updateUserInfo weui-btn weui-btn_mini weui-btn_primary">确认修改</a>
			<a href="javascript:;" class="hidden cancleUpdate weui-btn weui-btn_mini weui-btn_primary">取消修改</a>
			<div class="show person_hoppy">
				<h2 class="career_title">义工生涯</h2>
				<p class="career_count">
					义工总期数：<span th:text="${count}"></span>
				</p>
				<ul class="person_career">
					<li th:each="info,infoStat : ${havingClass}"><span th:text="${info.tagName}"></span>:<span th:text="${info.tagCount}"></span></li>
				</ul>
				<p class="person_first_career">
					首次做义工时间：<span>2018年2月7号</span>
				</p>
			</div>
			<div class="show person_hoppy">
				<h2 class="career_title">义工岗位</h2>
				<ul class="person_career">
					<li  th:each="info,infoStat : ${post}">
					<span th:text="${info.tagName}"></span>:<input class="weui-switch" onclick="return false" type="checkbox" checked="checked">
					</li>
				</ul>
			</div>
			<div th:if="${showHoner}" class="person_hoppy person_honer" style="margin-bottom: 30px;">
				<h2 class="career_title">义工勋章</h2>
				<ul class="honer flex-list">
					<li><img class="lyzr" src="images/graystar.png" width="100px;" alt="乐于助人" /><p style="text-indent: 0;">乐于助人</p></li>
					<li><img class="czyh" src="images/graystar.png" width="100px;" alt="持之以恒" /><p style="text-indent: 0;">持之以恒</p></li>
					<li><img class="adts" src="images/graystar.png" width="100px;" alt="爱的天使" /><p style="text-indent: 0;">爱的天使</p></li>
				</ul>
				<ul class="honer flex-list">
					<li><img class="adfx" src="images/graystar.png" width="100px;" alt="爱的奉献" /><p style="text-indent: 0;">爱的奉献</p></li>
					<li><img class="shts" src="images/graystar.png" width="100px;" alt="守护天使" /><p style="text-indent: 0;">守护天使</p></li>
					<li><img class="razx" src="images/graystar.png" width="100px;" alt="仁爱之心" /><p style="text-indent: 0;">仁爱之心</p></li>
				</ul>
			</div>
			<a th:if="${isCanUpdate}" href="javascript:;" class="show toUpdateUserInfo weui-btn weui-btn_mini weui-btn_primary">修改用户信息</a>
		</div>
		<div th:include="tabbar::pagination"></div>
	</div>
</body>
<style>
@media {
	.honer{
		height: auto;
		width: auto;
		display: flex;
	}
	.honer li{
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		flex-wrap:wrap;
		flex-grow:1;
	}
	.flex-list p{
		text-align: center;
	}
	.main_info{
		padding-bottom: 70px;
	}
}
</style>
</html>