<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet" href="css/weui.css" />
<link rel="stylesheet" href="css/weuix.css">
<link rel="stylesheet" href="css/myinfo.css" />
<link rel="stylesheet" href="css/mycareer.css" />
<link rel="stylesheet" href="css/common.css" />
<script src="js/zepto.min.js"></script>
<script src="js/zepto.weui.js"></script>
<script src="js/common.js"></script>
<script src="js/toast.js"></script>
<script type="text/javascript">
var groupTeam=[];
$(function() {
	$('.mine').addClass('weui-bar__item_on');
	$('.toUpdateUserInfo').click(function(){
		$('.hidden').css('display','block');
		$('.show').css('display','none');
		$('.person_honer').css('display','none');
	})
	$('.cancleUpdate').click(function(){
		$('.hidden').css('display','none');
		$('.show').css('display','block');
		$('.person_honer').css('display','block');
	})
	
	/** 添加权限 */
	$('.addRole').click(function(){
		var groupLeader = $('#job').attr('data-values');
		if ('undefined' == typeof groupLeader){
			groupLeader = '';
	 	}
		var role = $('#mobile').attr('data-values');
		if ('undefined' == typeof role){
			role = '';
	 	}
		var messageboard = $('#message_board').attr('data-values');
		if ('undefined' == typeof messageboard){
			messageboard = '';
	 	}
		if (role=='' && groupLeader==''&& messageboard==''){
			return;
		}
		$.confirm({
			  title: '添加权限',
			  text: '确认添加权限？',
			  onOK: function () {
				  //发放勋章
				  $.ajax({
						type : "get",
						url : "/updateRole?userId="+$('#userInfoId').val()+"&groupLeader="+groupLeader + "&role="+role+"&messageboard="+messageboard,
						success : function(data) {
							if (data.message == 'success') {
								$.toast("操作成功");
								setTimeout(function(){
									location.href="/getOtherUserInfo?id="+$('#userInfoId').val();
								},2000);
							}
						}
					});
			  },
			  onCancel: function () {
				  return;
			  }
			});
	});
	$('.removePerson').click(function(){
		$.confirm({
			  title: '删除用户',
			  text: '确认删除该用户？',
			  onOK: function () {
				  //发放勋章
				  $.ajax({
						type : "get",
						url : "/removeUser?userId="+$('#userInfoId').val(),
						success : function(data) {
							if (data.message == 'success') {
								$.toast("操作成功");
								setTimeout(function(){
									location.href="/admin";
								},2000);
								
							} else if (data.code == '1000200'){
								$.toast("权限不够", "forbidden");
							} else {
								$.toast("操作失败", "forbidden");
							}
						}
					});
			  },
			  onCancel: function () {
				  return;
			  }
			});
	});
	$('.updateUserInfo').click(function(){
		var sex = 0;
		if($('#sex').val() == "女"){
			sex = 1
		}
		$.ajax({
			type : "get",
			url : "/updateUserInfo",
			async: false,
			data : "id=" + $('#userInfoId').val() +"&sex="+ sex +"&nation="+ $('#nation').val() +"&birthplace=" + $('#birthplace').val()+"&loginPhone="+$('#loginPhone').val()+"&worker="+$('#worker').val(),
			success : function(data) {
				if(data.data){
					$.toast("操作成功");
					setTimeout(function(){
						location.href="/getOtherUserInfo?id="+$('#userInfoId').val();
					},2000);
				}
				if(!data.data){
					Toast("操作失败",2000);
				}
			}
		});
	});
	showHoner();
	
	$('.addStation').click(function(){
		var station = $('#station').val();
		if(station == "" && station.length==0){
			return;
		}
		$.confirm({
			  title: '添加岗位',
			  text: '确认添加岗位？',
			  onOK: function () {
				  //发放勋章
				  $.ajax({
						type : "get",
						url : "/addStation?userId="+$('#userInfoId').val()+"&station="+station,
						success : function(data) {
							if (data.message == 'success') {
								$.toast("操作成功");
								setTimeout(function(){
									location.href="/getOtherUserInfo?id="+$('#userInfoId').val();
								},2000);
							}
						}
					});
			  },
			  onCancel: function () {
				  return;
			  }
			});
	});
	
	$('.updateGroupTeam').click(function(){
		var groupTeam = $("#group").val();
		if ('undefined' == typeof groupTeam){
			return;
	 	}
		$.confirm({
			  title: '调整组别',
			  text: '确认调整至该组别？',
			  onOK: function () {
				  //发放勋章
				  $.ajax({
						type : "get",
						url : "/updateUserInfo?id="+$('#userInfoId').val()+"&groupTeam="+groupTeam,
						success : function(data) {
							if (data.message == 'success') {
								$.toast("操作成功");
								setTimeout(function(){
									location.href="/getOtherUserInfo?id="+$('#userInfoId').val();
								},2000);
							}
						}
					});
			  },
			  onCancel: function () {
				  return;
			  }
			});
	});
	
	// 获取所有组别
	getAllGroups();
	$("#group").select({
	     title: "选择组别",
	     items: groupTeam,
	     onChange: function(d) {
	         console.log(this, d);
	     },
	     onClose: function() {
	         console.log("close");
	     },
	     onOpen: function() {
	         console.log("open");
	     },
	 });
});

function getAllGroups(){
	 //发放勋章
  $.ajax({
		type : "get",
		async: false,
		url : "/getAllGroups",
		success : function(data) {
			if (data.message == 'success') {
				for(var i=0;i<data.data.length;i++){
					groupTeam.push(data.data[i]+'');
				}
			}
		}
  });
}

function confirmSendHoner(val){
	$.confirm({
		  title: '发放勋章',
		  text: '确认发放勋章？',
		  onOK: function () {
			  //发放勋章
			  $.ajax({
					type : "get",
					url : "/sendHoner?userId="+$('#userInfoId').val()+"&honerId="+val,
					success : function(data) {
						if (data.message == 'success') {
							$.toast("操作成功");
							setTimeout(function(){
								location.href="/getOtherUserInfo?id="+$('#userInfoId').val();
							},2000);
						}else if (data.code == '1000200'){
							$.toast("暂无设置颁发权限");
						} else {
							$.toast("操作失败");
						}
					}
				});
		  },
		  onCancel: function () {
			  return;
		  }
		});
}
function showHoner(){
	if($('#showHoner').val() != "true"){
		return;
	}
	$.ajax({
		type : "get",
		url : "/showPersonHoner?userId="+$('#userInfoId').val(),
		success : function(data) {
			if (data.message == 'success') {
				var html = '';
				for(var i=0; i<data.data.length; i++){
					html += '<ul class="honer flex-list">';
					for(var j=0;j<data.data[i].length;j++){
						if (data.data[i][j].isLight == true){
							html += '<li><img onclick="showMessage()" src="'+data.data[i][j].light+'" width="100px;"/><p style="text-indent: 0;">'+ data.data[i][j].title +'</p></li>';
						}else {
							html += '<li><img onclick="confirmSendHoner('+data.data[i][j].id+')" src="'+data.data[i][j].gray+'" width="100px;"/><p style="text-indent: 0;">'+ data.data[i][j].title +'</p></li>';
						}
					}
					html += '</ul>';
				}
				$('.honerList').html(html);
			}
		}
	});
}
function showMessage(){
	$.toast("此勋章已经点亮！");
}
function plusOne(id){
	$.confirm({
		  title: '添加期数',
		  text: '确认添加该期数？',
		  onOK: function () {
			  //发放勋章
			  $.ajax({
					type : "get",
					url : "/plusOne?id="+id,
					success : function(data) {
						if (data.message == 'success') {
							$.toast("操作成功");
							setTimeout(function(){
								location.href="/getOtherUserInfo?id="+$('#userInfoId').val();
							},2000);
						}else{
							$.toast("操作失败！");
						}
					}
				});
		  },
		  onCancel: function () {
			  return;
		  }
		});
}
</script>
<style>
.info_message p{
	text-indent: 2em;
}
.person_info input{
	text-indent: 1em;
    border: 1px solid #e1e1e1;
}
.hidden{
	display: none;
}
.showInfo h2{
	text-align: center;
}
#userInfoId{
display: none;
}
#showHoner{
display: none;
}
</style>
</head>
<body ontouchstart>
<input id="userInfoId" th:value="${userInfo.id}"/>
<input id="showHoner" th:value="${showHoner}"/>
	<div class="container" id="container">
		<div class="weui-flex header">
			<h2 th:text="${userInfo.name}"></h2>
		</div>
		<div class="main_info">
			<div class="show showInfo info_message">
				<div class="info_message">	
					<div class="main_aside">
						<img th:if="${userInfo.userPic != null}" th:src="${userInfo.userPic}" width="150px;" alt="头像" />
						<img th:if="${userInfo.userPic == null}" src="images/common/1555840770.jpg" width="150px;" alt="头像" />
					</div>
					<div class="main_content">
						<p class="person_info">性别：<span th:if="${userInfo.sex} eq 1">女</span><span th:if="${userInfo.sex} eq 0">男</span></p>
						<p class="person_info">年龄：<span th:text="${userInfo.age}"></span></p>
						<p class="person_info">民族：<span th:text="${userInfo.nation}"></span></p>
						<p class="person_info">籍贯：<span th:text="${userInfo.birthplace}"></span></p>
						<p class="person_info">电话：<span th:text="${userInfo.loginPhone}"></span></p>
					</div>
				</div>
				<!-- <p class="person_info">性别：<span th:if="${userInfo.sex} eq 1">女</span><span th:if="${userInfo.sex} eq 0">男</span></p>
				<p class="person_info">年龄：<span th:text="${userInfo.age}"></span></p>
				<p class="person_info">民族：<span th:text="${userInfo.nation}"></span></p>
				<p class="person_info">籍贯：<span th:text="${userInfo.birthplace}"></span></p>
				<p class="person_info">电话：<span th:text="${userInfo.loginPhone}"></span></p> -->
				<p class="person_info">工作岗位：<span th:text="${userInfo.worker}"></span></p>
				<p class="person_info">兴趣爱好：<span th:text="${userInfo.hobby}"></span></p>
				<p class="person_info">自我介绍：<span th:text="${userInfo.descption}"></span></p>
				<p class="person_info" th:if="${userInfo.isGroupLeader}">是否组长：<span>是</span></p>
				<p class="person_info" th:if="${userInfo.isMessageBoard}">是否可查留言板：<span>是</span></p>
				<p class="person_info">角色：<span th:if="${userInfo.roleId eq 1}">义工</span><span th:if="${userInfo.roleId eq 2}">教授</span><span th:if="${userInfo.roleId eq 3}">管理员</span></p>
			</div>
			<div class="hidden updateInfo info_message">
				<h2 class="name"><span th:text="${userInfo.name}"></span></h2>
				<p class="person_info">性别：<input id="sex" th:if="${userInfo.sex} eq 1" value="女"/><input th:if="${userInfo.sex} eq 0" value="男"/></p>
				<p class="person_info">民族：<input id="nation" th:value="${userInfo.nation}"/></p>
				<p class="person_info">籍贯：<input id="birthplace" th:value="${userInfo.birthplace}"/></p>
				<p class="person_info">电话：<input id="loginPhone" type="phone" th:value="${userInfo.loginPhone}"/></p>
				<p class="person_info">工作岗位：<input id="worker" th:value="${userInfo.worker}"/></p>
			</div>
			<a href="javascript:;" class="hidden updateUserInfo weui-btn weui-btn_mini weui-btn_primary">确认修改</a>
			<a href="javascript:;" class="hidden cancleUpdate weui-btn weui-btn_mini weui-btn_primary">取消修改</a>
			<a th:if="${isCanUpdate}" href="javascript:;" class="show toUpdateUserInfo weui-btn weui-btn_mini weui-btn_primary">修改用户信息</a>
			<div class="show person_hoppy">
				<h2 class="career_title">义工生涯</h2>
				<p class="career_count">
					义工总期数：<span th:text="${count}"></span>
				</p>
				<ul class="person_career">
					<li th:each="info,infoStat : ${havingClass}">
					<span th:text="${info.tagName}"></span>:
					<span th:text="${info.tagCount}"></span>
					<span class="plusOne" th:onclick="'javascript:plusOne(\''+${info.id}+'\')'">+1</span>
					</li>
				</ul>
				<!-- <p class="person_first_career">
					首次做义工时间：<span>2018年2月7号</span>
				</p> -->
			</div>
			<div class="show person_hoppy">
				<h2 class="career_title">义工岗位</h2>
				<ul class="person_career">
					<li  th:each="info,infoStat : ${post}">
					<span th:text="${info.tagName}"></span>:<input class="weui-switch" onclick="return false" type="checkbox" checked="checked">
					</li>
				</ul>
				<div th:if="${showHoner}">
					<p class="person_info">添加义工岗位：<input id="station" type="text"/></p>
					<button class="addButton addStation">确认添加</button>
				</div>
			</div>
			<div th:if="${showHoner}" class="show person_hoppy">
				<h2 class="career_title">组别调整</h2>
				<p class="career_count">当前所在组别：<span th:text="${userInfo.groupTeam}"></span>
				<div class="weui-cells weui-cells_form">
				    <div class="weui-cell">
				        <div class="weui-cell__hd"><label for="group" class="weui-label">组别</label></div>
				        <div class="weui-cell__bd">
				            <input class="weui-input" id="group" type="text" value="" readonly="">
				        </div>
				    </div>
				</div>
				<button class="addButton updateGroupTeam">确认调整</button>
			</div>
			<div th:if="${showHoner}" class="show person_hoppy">
				<h2 class="career_title">权限设置</h2>
				<div class="weui-cells weui-cells_form">
				    <div class="weui-cell">
				        <div class="weui-cell__hd"><label for="job" class="weui-label">组长权限</label></div>
				        <div class="weui-cell__bd">
				            <input class="weui-input" id="job" type="text" value="" readonly="">
				        </div>
				    </div>
				    <div class="weui-cell">
				        <div class="weui-cell__hd"><label for="mobile" class="weui-label">角色权限</label></div>
				        <div class="weui-cell__bd">
				            <input class="weui-input" id="mobile" type="text" value="" readonly="">
				        </div>
				    </div>
				    <div class="weui-cell">
				        <div class="weui-cell__hd"><label for="message_board" class="weui-label">留言板权限</label></div>
				        <div class="weui-cell__bd">
				            <input class="weui-input" id="message_board" type="text" value="" readonly="">
				        </div>
				    </div>
				</div>
				<button class="addButton addRole">确认添加权限</button>
			</div>
			<div th:if="${showHoner}" class="person_hoppy person_honer" style="margin-bottom: 30px;">
				<h2 class="career_title">义工勋章</h2>
				<div class="honerList">
					<ul class="honer flex-list">
						<li><img class="lyzr" src="images/graystar.png" width="100px;" alt="乐于助人" /><p style="text-indent: 0;">乐于助人</p></li>
						<li><img class="czyh" src="images/graystar.png" width="100px;" alt="持之以恒" /><p style="text-indent: 0;">持之以恒</p></li>
						<li><img class="adts" src="images/graystar.png" width="100px;" alt="爱的天使" /><p style="text-indent: 0;">爱的天使</p></li>
					</ul>
					<ul class="honer flex-list">
						<li><img class="adfx" src="images/graystar.png" width="100px;" alt="爱的奉献" /><p style="text-indent: 0;">爱的奉献</p></li>
						<li><img class="shts" src="images/graystar.png" width="100px;" alt="守护天使" /><p style="text-indent: 0;">守护天使</p></li>
						<li><img class="razx" src="images/graystar.png" width="100px;" alt="仁爱之心" /><p style="text-indent: 0;">仁爱之心</p></li>
					</ul>
				</div>
			</div>
			<button th:if="${showHoner}" class="show addButton removePerson">删除该用户</button>
		</div>
		<div th:include="tabbar::pagination"></div>
	</div>
</body>
<script>
 $("#job").select({
     title: "设置组长",
     items: [
         {
             title: "任命组长",
             value: "true",
         },
         {
             title: "撤销组长",
             value: "false",
         }
     ]
 });
 $("#mobile").select({
     title: "设置角色",
     items: [
         {
             title: "义工角色",
             value: "1",
         },
         {
             title: "教授角色",
             value: "2",
         },
         {
             title: "管理员角色",
             value: "3",
         }
     ]
 });
 $("#message_board").select({
     title: "留言板权限",
     items: [
         {
             title: "可查看信息",
             value: "true",
         },
         {
             title: "不可查看信息",
             value: "false",
         }
     ]
 });
</script>
<style>
@media {
	.flex-list p{
		text-align: center;
	}
	.main_info{
		padding-bottom: 70px;
	}
	.addButton{
	    width: 100%;
	    border-radius: 10px;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    color: #FFFFFF;
	    background-color: #1AAD19;
	    height: 22px;
	}
	.plusOne{
	    background: #1AAD19;
	    padding: 0 0px;
	    border-radius: 16px;
	    color: #FFFFFF;
	    padding: 0px 5px;
	    float: right;
	    cursor: pointer;
	}
}
</style>
</html>