<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pagination">
    <script src="js/common.js"></script>
    <!-- 与下拉框特效存在冲突，暂时注释掉 -->
    <!-- <script src="js/jquery.js"></script> -->
    <div class="weui-tab tab-bottom " style="height:44px;position: absolute;">
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item mine">
            <i class="icon icon-30 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">我的</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item homepage">
            <i class="icon icon-27 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">主页</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item community">
            <i class="icon icon-5 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">社区</p>
        </a>
    </div>
    </div>
</div>

