<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1,user-scalable=0">
	<meta charset="UTF-8">
	<title>聚寿山义工之家</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/weui.css" />
	<link rel="stylesheet" href="css/weuix.css" />
	<link rel="stylesheet" href="css/common.css" />
	<script src="js/zepto.min.js"></script>
	<script src="js/zepto.weui.js"></script>
	<script src="js/common.js"></script>
	<script src="js/swipe.js"></script>
	<script src="js/updateWhellPlanting.js"></script>
	<style>
		.addButton {
			width: 100%;
			border-radius: 10px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			color: #FFFFFF;
			background-color: #1AAD19;
			height: 22px;
		}
	</style>
</head>
<body ontouchstart="" class="page-bg">

<div class="weui-news">
	<div class="weui-flex header">
			<h2>首页-轮播管理</h2>
	</div>
</div>
<div class="weui-cells weui-cells_form">
<!--	<form class="form" enctype="multipart/form-data">-->
	<label class="weui-cell" style="font-weight: 600;">第<span id="id" name="id" th:value="${whellPlanting.id}" th:text="${whellPlanting.id}" ></span>页轮播</label>
	 <div class="weui-cell">
	 	<div class="weui-cell__hd"><label class="weui-label">标题</label></div>
	    <div class="weui-cell__bd">
	      <input id="desc" class="weui-input" th:value="${whellPlanting.description}" type="text" placeholder="请输入">
	    </div>
	 </div>
	 <div class="weui-cell">
	 	<div class="weui-cell__hd"><label class="weui-label">跳转链接</label></div>
	    <div class="weui-cell__bd">
	      <input id="linkAddress" class="weui-input" th:value="${whellPlanting.linkAddress}" type="text" placeholder="请输入">
	    </div>
	 </div>
	 <div class="weui-cell">
	 	<div class="weui-cell__hd"><label class="weui-label">图片</label></div>
	    <div class="weui-cell__bd">点我选择图片
	      <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*">
	    </div>
	 </div>
	 <div class="weui-cell">
	    <div class="weui-cell__bd">
	    	<img class="img" width="100%" alt="" th:src="${whellPlanting.pic}">
	    </div>
	 </div>
	 <button class="addButton updateWhellPl">确认</button>
<!--	 </form>-->
</div>
<br>
<br>
<div th:include="tabbar::pagination"></div>
</body>

</html>