<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
    <title>聚寿山义工之家</title>
</head>

<body>
<div class="weui_msg">
    <div class="weui_icon_area">
        <img src="images/wechat.png" alt="微信登录"/>
    </div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">微信登录</h2>
        <p class="weui_msg_desc">点击确认按钮进行微信登录</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
            <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
        </p>
    </div>
</div>
</body>
<script type="text/javascript">

$(".weui_btn_primary").click(function(){

	});



</script>
</html>